<h1>겹치는 번호는</h1>
내 번 호 <%= @lotto_number.sort %><br/>
번호 <%= @counting%>개가 맞았습니다!<br/>
이번주 당첨 번호는 <%=@arr.sort%><br/>
겹치는 번호<%= @matching%><br/>
결과는!! <%=@result%><br>
보너스 넘버랑 겹치는가? <%=@matching2%><br>
<br>
<a href="/lotto/index">index</a>